{% extends "layout/main.twig" %}

{% block body %}
    <h1>Prueba técnica <span class="small">v1.0</span></h1>
    <p>
        Queremos medir la cantidad de tweets que se enviaron mencionando ciertas cuentas, ciertos hashtags y cantidad de tweets de algunos usuarios en particular y mostrarlo en una gráfica.
        Sin embargo sabemos al hacer la gráfica que el código no es bueno, los datos no están bien y es lento.
        Creemos que se puede hacer mejor y sobre todo pensar en una manera de que el proceso pueda escalar que la tabla que guarda los tweets puede alcanzar algunos millones de registros en breve.
    </p>

    <h2>Tareas a realizar</h2>
    <ul>
        <li>La grafica a veces toma demasiado tiempo en cargar, hay que revisar si se puede optimizar</li>
        <li>Los datos no parecen estar bien, revisar si los datos están bien importados y arreglar lo que se pueda</li>
        <li>
            Cambios en la gráfica en particular
            <ul>
                <li>Separar el eje Y en dos ejes diferentes, uno con los datos de mentions y hashtags y el otro con los tweets de usuario, todo dentro de la misma gráfica</li>
                <li>Mostrar solo el primer de cada més en el eje X</li>
            </ul>
        </li>
        <li>Se quiere reutilizar el código de la aplicación en una versión que no utiliza HTML. Hacer que el resultado de la llamada a <a href="/chart">/chart</a> sea reutilizable en otros dispositivos</li>
        <li>El código no cuenta con ningún tipo de test que garantice que modificaciones futuras van a romper con la funcionalidad actual, sería bueno contar con algún test básico</li>
        <li>Cualquier refactor que se pueda realizar al código para mejorar la legibilidad, eficiencia, calidad del código será tomado en cuenta</li>
    </ul>

    <h2>Detalles generales de desarrollo</h2>
    <ul>
        <li>Cambios a la base de datos se tienen que realizar usando la herramienta Phinx, todo cambio realizado a mano y no documentado se pierde al entregar la tarea</li>
        <li>Se recomienda no considerar que las consultas vas a ser cacheadas por la base de datos</li>
        <li>Por convención el código PHP tiene que ser compatible con las especificaciones PSR-1 y PSR-2</li>
        <li>Se puede agregar cualquier tipo de documentación, test, librería, código que sea necesario</li>
    </ul>

    <div class="row">
        <div id="chart_placeholder">
            <div class="center-block">
                <span class="glyphicon glyphicon-refresh"></span>
            </div>
        </div>
    </div>

    <script type="application/javascript">
        $(document).ready(function () {
            $.get("/chart", function (data) {
                $("#chart_placeholder").html(data);
            });
        });
    </script>
{% endblock %}